header{
    background-color: rgb(44, 224, 194);
    width: 100vw;
}
#Homebutton{
    color: inherit;
    text-decoration: none;
    margin: 10px;
}
#orange-cat{
    height: 400px;
}
#cute-kitten{
    height: 400px;
}
#sunglasses-cat{
    height: 400px;
}
img{
    border-radius: 20px;
    border: 3px solid black;
    margin: 10px;
}
body{
    min-height: 100vh;
    margin: 0;
    display: grid;
    grid-template-rows: auto 1fr auto;
    background-attachment: fixed;
}
#figure-very-cool-orange-cat{
    background-color: rgb(184, 233, 236);
    width: fit-content;
    display: block;
    margin: 20px;
    text-align: center;
    padding: 10px;
    border: 3px solid black;
    border-radius: 20px;
}
#figure-very-cute-kitten{
    background-color: rgb(184, 233, 236);
    width: fit-content;
    display: block;
    margin: 20px;
    text-align: center;
    padding: 10px;
    border: 3px solid black;
    border-radius: 20px;
}
#figure-sunglasses-cat{
    background-color: rgb(184, 233, 236);
    width: fit-content;
    display: block;
    margin: 20px;
    text-align: center;
    padding: 10px;
    border: 3px solid black;
    border-radius: 20px;
    background-clip: padding-box;
}
#main-cat-pictures{
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
    margin-bottom: 20px;
}

footer{
    min-height: 50px;
    background-color: rgb(44, 224, 194);
}   